/* Navbar */
.custom-navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 0px;
  padding-left: 10px;
  min-height: 68px;
}

.navbar-title {
  font-size: 50px;
}

.navbar-divider {
  border-top: 1px solid rgba(100, 100, 100, 0.5);
  width: 100%;
  margin-bottom: 0;
}

.navbar-items-wrapper {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.navbar-item {
  padding: 10px 20px;
  font-size: 18px;
}

.navbar-link {
  text-decoration: none;
  color: black;
}

.navbar-link:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.hamburger-menu {
  position: fixed;
  width: 38px;
  height: 38px;
  top: 14px;
  right: 10px;
  cursor: pointer;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  display: none;
}

.line {
  width: 100%;
  height: 3px;
  background-color: black;
  transition: all .8s;
}

.open .line-1 {
  transform: rotateZ(-45deg) translate(-9px, 8px);
}

.open .line-2 {
  opacity: 0;
}

.open .line-3 {
  transform: rotateZ(45deg) translate(-9px, -8px);
}

@media (max-width: 630px) {
  .custom-navbar {
    padding-top: 0;
    padding-bottom: 0;
    flex-direction: unset;
    justify-content: flex-start;
    align-items: center;
  }

  .hamburger-menu {
    display: flex;
  }

  .navbar-items-wrapper {
    position: fixed;
    top: 0;
    right: -250px;
    flex-direction: column;
    background-color: white;
    height: 100%;
    padding-top: 70px;
    width: 250px;
    transition: linear .4s;
  }

  .open .navbar-items-wrapper {
    right: 0px
  }

  .navbar-title {
    font-size: 32px;
    margin-top: .5rem;
  }

  .navbar-divider {
    display: none;
  }
}


/* Hero Section */
.hero-section {
  background: rgb(100, 100, 100);
  height: 100vh;
}


